html,body{
    height: 100%;
    margin: 0;
}

body { 
    font-family: Arial; 
    display: flex;
    flex-direction: column;
}

main h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

main{
    display: flex;
    flex-direction: column;
    flex: 1; 
    flex-direction: column;
    background-color: rgb(21, 21, 21);
    margin-left: 250px;
    height: 100vh;
    overflow: hidden;/* Evita que el main tenga scroll propio */
}

.volver{
    padding: 10px;
    color: #E94B3C;
}

.encabezado{
    display: flex;
    padding: 15px;
    background-color: rgb(21, 21, 21);
    position: relative;
}

.encabezado h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

.encabezado img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

.barraMensajes{
    border-radius: 15px;
    padding: 10px;
    margin: 5px;
    margin-left: 30px;
    margin-right: 10px;
}

.botonEnviarMensaje{
    margin-right: 30px;
    padding: 5px;
    color: white;
    border: 3px solid #802015;
    border-radius: 15px;
}

#chat-mensajes{
    flex: 1;
    overflow-y: auto;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    height: 80vh;
}

.formularioMensajes{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.formularioMensajes input{
    flex: 1;
}

.mensaje { 
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: table;
    color: rgb(226, 226, 226);
    font-size: 20px;
}

.mensaje.tuyo { 
    margin-left: auto;
}

.escribirMensaje{
    border-radius: 10px;
    padding: 5px;
}

form button{
    border-radius: 30px;
    background-color: #E94B3C;
}

form button:hover{
    background-color: #b43a2f;
}

.fecha{
    font-style: italic;
    color: #c9c9c9;
    font-size: 13px;
}

.nombresParticipantes {
    display: block;
    color: white;
    font-size: 0.8em;
    word-wrap: break-word;
}

.mensaje.otro {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}
 
.infoUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 60px;
    text-align: center;
    font-size: 11px;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
}

.fotoUsuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nombreUsuario {
    font-size: 0.58em;
    margin-top: 2px;
    word-break: break-word;
}

.textoMensaje {
    background-color: #c13722;
    padding: 8px 12px;
    border-radius: 12px;
    word-wrap: break-word; /* rompe palabras largas */
    word-break: break-word;
    white-space: normal; /* permite saltos de línea */
}
.mensaje.tuyo .textoMensaje {
    background-color: #732115;
    margin-left: 30%;
}

.leidoEstado {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    color: #666;
}
.leidoEstado{
    color: rgb(74, 104, 74);
}
.noLeidoEstado{
    color: #949494;
}

.btnConfig {
    background-color: rgb(21, 21, 21);
    color: #E94B3C;
    border: none;
    cursor: pointer;

    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%); /* para centrar verticalmente exacto */
}

.btnConfig:hover {
    color: #c03c30;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #2a2a2a;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    color: white;
}

.modal-content h3, .modal-content h4 {
    margin-top: 0;
}

.cerrar {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.cerrar:hover {
    color: #fff;
}

 .resultadosBusqueda{
    background: #222;
    color: #fff;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #444;
    margin-top: 5px;
}
.resultadoUsuario{
    padding: 5px;
    cursor: pointer;
}
.resultadoUsuario:hover{
    background: #555;
}
.usuariosSeleccionados{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 5px;
}
.usuarioTag{
    background: #444;
    color: #fff;
    padding: 3px 7px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.usuarioTag button{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

/*MEDIA QUERYS*/
@media (min-width: 2000px){
    #chat-mensajes{
        height: 55vh;
    }
}

@media(max-width: 993px){
    main{
        margin-left: 200px;
    }
}

@media(max-width: 768px){
    main{
        margin-left: 0px;
        margin-top: 60px;
    }

    *{
        font-size: 15px;
    }
}

@media(max-width: 460px){
    *{
        font-size: 13px;
    }
}

@media(max-width: 370px){
    *{
        font-size: 11px;
    }
}