html,body{
    height: 100%;
    margin: 0;
}

main{
    flex: 1; /* Esto empuja el footer hacia abajo */
}
body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    margin-left: 250px ;
    background: linear-gradient(180deg, #e65a36, #c13722);
    display: flex;
    flex-direction: column;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #FFF8F5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 30px rgb(40, 40, 40);
}

.profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-header img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 20px;
    border: 2px solid #ddd;
    object-fit: cover;
}

.profile-info h2 {
    margin: 0;
    font-size: 28px;
    color: #2E2E2E;
}

.profile-info .bio {
    margin: 5px 0 10px 0;
    color: #6B6B6B;
}

.profile-info .stats {
    display: flex;
    gap: 20px;
    font-size: 14px;
    color: #333;
}

.stats span{
    color: #6B6B6B;
}

.profile-posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

.post{
    color: #6B6B6B;
}

.profile-posts .post img {
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
    transition: transform 0.2s;
}

.profile-posts .post img:hover {
    transform: scale(1.05);
}
a{
    text-decoration: none !important;
    color: inherit !important; 
}

.cerrarSesion {
    padding: 8px 16px;
    background-color: #D62828;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.cerrarSesion:hover {
    background-color: #B71C1C;
}

.objetos{
    display: flex;
}

.formCerrarSesion{
    justify-content: right;
    margin: 20px;
}

.botonEditarPerfil{
    background-color: #E94B3C;
    margin: 5px;
}
