html,body{
    height: 100%;
    margin: 0;
}

body { 
    font-family: Arial; 
    display: flex;
    flex-direction: column;
}

main h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

.volver{
    padding: 10px
}

.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(21, 21, 21);
}

.encabezado h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

.chat{
    padding: 10px;
    border-bottom: 1px solid rgb(21, 21, 21);
    cursor: pointer;
    background-color: rgb(34, 34, 34)
}
.chat:hover {
    background-color: rgb(47, 47, 47);
}
.titulo {
    font-weight: bold;
    color: rgb(226, 226, 226);
}
.mensaje {
    color: #c9c9c9;
}

.fecha{
    color: rgb(226, 226, 226);
}

main{
    flex: 1; /* Esto empuja el footer hacia abajo */
    background-color: rgb(21, 21, 21);
}

.btn-nuevo-chat{
    text-decoration: none;
    color: #e65a36;
}

.btn-nuevo-chat:hover{
    color: #e6451d;
}