 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

body{
    margin-left: 0 !important;
    background-color: #f6dcf0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;
    justify-content: flex-start;
    align-items: flex-start;
}

.sidebar { 
    flex: 1; 
}

.suggestion {
    margin-bottom: 10px; 
}

.container { 
    display: flex; 
    gap: 20px; 
    padding: 20px; 
}

.sugerencias { 
    color: #FFF8F5;
    background-color: #B9372A;
    flex: 1; 
    padding: 20px;
    border-radius: 8px;
    border: 6px solid #802015;
    margin-left: auto;
    box-shadow: none !important;
}

.sugerencias h2{
    font-size: 20px;
    font-weight: bold;
}

.post {
    background-color: #FFF8F5;
    box-shadow: 5px 5px 30px rgb(40, 40, 40);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;

    width: 100%;
    min-height: 400px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.suggestion { 
    margin-bottom: 10px; 
}

.post img,
.post video {
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto 0;
}

.pieFoto{
    margin-top: 3px;
    padding-bottom: 5px;
    border-bottom: 1px solid #999;
}

.fecha{
    font-size: 12px;
}

.btnVerMas{
    background-color: #FFF8F5;
    border: none;
    text-align: left;
}

.btnMeGusta{
    background-color: #FFF8F5;
    border: none;
    all: unset;          /*elimina los estilos del bot칩n */
    cursor: pointer;
    display: inline-flex;
}

.btnMeGusta img {
    width: 36px;
    height: 36px;
    display: block;
}

.btnMeGusta img {
    width: 28px !important;
    height: 28px !important;
}

.botonesPublicacion{
    display: flex;
    margin-top: 5px;
}

/* MODAL */
.explore-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    min-height: 100vh;
}

.explore-modal-content {
    width: 90%;
    max-width: 1000px;
    height: 85vh;
    background: white;
    display: flex;
    border-radius: 10px;
    overflow: hidden;
}

.modal-left {
    flex: 2;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-left img,
.modal-left video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.modal-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: #fafafa;
    min-height: 0;
}

.modalAbajo{
    margin-top: auto;
}

.modal-right .info {
    border-top: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 14px;
}

/* Comentarios*/
#modalComentarios {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.comment {
    border-bottom: 1px solid #ddd;
    font-size: 14px;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
}

.comment-user {
    font-weight: bold;
}

#commentForm {
    display: flex;
    gap: 8px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#commentForm input {
    flex: 1;
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

#commentForm button {
    background: #0095f6;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 8px 14px;
    cursor: pointer;
}

.close-modal {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 32px;
    color: white;
    cursor: pointer;
    z-index: 4000;
}

/* Previsualizaci칩n de comentarios*/
.preview-comentarios {
    margin-bottom: 5px;
    font-size: 13px;
    color: #333;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.preview-comment {
    white-space: normal;
    overflow-wrap: break-word;
}

.mas-comentarios {
    font-size: 12px;
    color: #999;
    cursor: pointer;
    font-style: italic;
}

.comentarioUsuario{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.fotoPerfilComentarios{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    flex-shrink: 0;
    object-fit: cover; /* mantiene proporci칩n y recorta si hace falta */
}

.no-sigues{
    text-align: center;
}

.no-sigues img{
    width: 30%;
}

.no-sigues svg{
    width: 26px;
    height: 26px;
    stroke-width: 2.5;
    stroke: white;
    filter: drop-shadow(0 1px 1px black);
    flex-shrink: 0;
}

.no-sigues button{
    background-color: #9d2f24;
    border-radius: 10px;
    border:3px solid #802015;
    padding: 5px;
    transition: background .15s, transform .1s;
}

.no-sigues button:hover{
    background-color: #E94B3C;
    transform: translateY(-2px);
    border-color: rgba(0, 0, 0, 0.35);
}

.botones{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.username-link{
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btnSeguir[data-estado="Seguir"] {
    background-color: #28a745;
    color: white; 
}
.btnSeguir[data-estado="Siguiendo"] {
    background-color: #6c757d;
    color: white;
}
.btnSeguir[data-estado="Solicitado"] {
    background-color: #e2ab06;
    color: white;
}
.btnSeguir:hover {
    opacity: 0.8;
}

/* Cabecera del usuario en el modal */
.modal-user-header button {
    background-color: #fff;
    z-index: 100;
    border: none !important;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}

.modal-user-header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #999;
    background-color: #fff;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.modal-profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.modal-username {
    font-size: 14px;
    color: #333;
}

.modal-separator {
    border: 0;
    border-top: 1px solid #eee;
}

#modalComentarios {
    overflow-y: auto;
    position: relative;
    max-height: 600px;
}

/*FOOTER*/
.site-footer {
    background: #222;
    color: #c1c1c1;
    padding: 20px;
    text-align: center;
    margin-left: 250px; 
    width: auto;
}

.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}

/* Quitamos el margen por defecto del p치rrafo para que no quede muy separado */
.container-footer p {
    margin: 0;
}

.footer-nav a {
    color: #c1c1c1;
    text-decoration: none;
    margin: 0 10px;
}

/* --- MEDIA QUERIES--- */
@media (min-width: 1441px ) and (max-width: 2000px) {

} 

@media (min-width: 2001px){
    .post{
        zoom: 1.6;
    }

    .sugerencias{
        zoom: 1.0;
    }

    .post img, .post video{
        max-height: 300px;
    }

    .explore-modal{
        zoom: 0.8;
    }
}

@media (max-width: 1200px){
    .post{
        height: 550px;
    }

    .post img,
    .post video {
        max-height: 350px;
    }

    *{
        font-size: 17px;
    }
}

@media (max-width: 1100px){
    .explore-modal-content {
        flex-direction: column;
        width: 95%;
        height: 90vh;
        max-height: 90vh;
    }

    .modal-left {
        flex: 0 0 40%;
        width: 100%;
        background: #000;
    }

    .modal-right {
        flex: 1;
        width: 100%;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
    }

    .modal-left img, 
    .modal-left video {
        max-height: 100%;
        max-width: 100%;
        width: auto;
        height: auto;
    }
    
    .modal-user-header {
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
}

@media (max-width: 992px)and (min-width: 769px){
    .sidebar, .sugerencias {
        flex: 0 0 180px;
        margin: 0;
    }

    .content {
        gap: 10px;
        justify-content: center;
    }

    .main {
        flex: 2;
        width: auto;
    }

    .post {
        zoom: 1.0;
        max-width: 100%;
        margin-left: 0;
    }

    .sugerencias{
        zoom: 0.6;
    }

    .site-footer{
        margin-left: 200px;
    }
}

@media(max-width: 769px) {
    .post {
        zoom: 1.0; 
        height: auto;
    }

    .sugerencias {
        zoom: 0.6;
    }

    .content{
        margin-top: 50px;
    }

    .site-footer{
        margin-left: 0px;
    }

    .explore-modal{
        zoom: 0.8;
    }
}
 
@media (max-width: 540px){
    .sugerencias{
        zoom: 0.5;
    }
}

@media (max-width: 440px){
    .sugerencias{
        zoom: 0.4;
    }

    .post {
        zoom: 0.7; 
        height: auto;
    }

    .modalAbajo{
        zoom: 0.7;
    }

    .modalComentarios{
        zoom: 0.7 !important;
    }
    
    .modal-user-header{
        zoom: 0.7;
    }
}

@media (max-width: 370px){
    .sugerencias{
        zoom: 0.3;
    }

    .post {
        zoom: 0.6; 
        height: auto;
    }
}