*,
*::before,
*::after {
    box-sizing: border-box;
}

html,body{
    height: 100%;
    margin: 0;
    overflow-x: hidden; /* evita scroll horizontal */
    background-color: rgb(21, 21, 21);
}

body { 
    font-family: Arial; 
    display: flex;
    flex-direction: column;
}

main h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

.volver{
    padding: 10px;
    color: #E94B3C;
}

.encabezado{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(21, 21, 21);
}

.encabezado h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
    margin: 10px
}

.chat{
    padding: 15px;
    border-bottom: 1px solid rgb(21, 21, 21);
    cursor: pointer;
    background-color: rgb(34, 34, 34);
    display: flex;
    align-items: center;
}

.fotoPerfil{
    margin: 10px;
    margin-right: 20px;
}

.chat:hover {
    background-color: rgb(47, 47, 47);
}
.titulo {
    font-weight: bold;
    font-size: 20px;
    color: rgb(226, 226, 226);
}
.mensaje {
    color: #c9c9c9;
    max-width: 55%;
    white-space: nowrap; /* una línea */
    overflow: hidden; /* corta lo que sobre */
    text-overflow: ellipsis; /* muestra "..." */
    display: block;
}

.fecha{
    color: rgb(226, 226, 226);
}

main{
    flex: 1;
    background-color: rgb(21, 21, 21);
    margin-left: 250px;
}

#listaChats {
    width: 100%;
    max-width: 100%;
}

.btn-nuevo-chat{
    text-decoration: none;
    color: #E94B3C;
}

.btn-nuevo-chat:hover{
    color: #b83b2f;
}

.titulo img{
    margin-right: 3px;
    margin-bottom: 3px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #ddd;
    object-fit: cover;
}

form label{
    color: white;
}

.encabezadoNuevoChat{
    display: flex;
    margin: 10px;
}

.encabezadoNuevoChat h2{
    margin: 5px;
}

form{
    margin: 30px;
}

#resultadosUsuarios{
    color: white;
    background-color: rgb(34, 34, 34);
    margin: 5px;
}

.crearChat{
    background-color: #E94B3C;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
}

.crearChat:hover{
    background-color: #b63a2f;
}

.chat {
    position: relative;
}

.badge {
    margin-left: 10px;
    top: 18px;
    right: 15px;
    background-color: #E94B3C;
    color: white;
    border-radius: 50%;
    padding: 5px 9px;
    font-size: 12px;
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

footer {
    background-color: rgb(34, 34, 34);
    color: rgb(226, 226, 226);
    padding: 20px; 
    margin-left: 250px;
    width: calc(100% - 250px); /* Ajustar ancho*/
    flex-shrink: 0; /*Evita que el footer se aplaste si falta espacio*/
}

/*MEDIA QUERYSs*/
@media(max-width: 993px){
    main{
        margin-left: 200px;
    }

    footer{
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media(max-width: 768px){
    main{
        margin-left: 0px;
        margin-top: 50px;
    }

    footer{
        margin-left: 0px;
        width: calc(100% - 0px);
    }
}

@media(max-width: 560px){
    main{
        margin-left: 0px;
        margin-top: 75px;
        zoom: 0.8;
    }
}

@media(max-width: 460px){
    main{
        margin-left: 0px;
        margin-top: 95px;
        zoom: 0.6;
    }
}

@media(max-width: 340px){
    main{
        margin-left: 0px;
        margin-top: 115px;
        zoom: 0.5;
    }
}