 html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.main {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* centra los posts horizontalmente */
    width: 100%; /* que ocupe todo el ancho del contenedor */
    box-sizing: border-box;
}

body{
    background-color: #F6E3DC;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    gap: 20px;
    padding: 20px;

    justify-content: flex-start; /* no es necesario centrar main+sidebar, solo centramos posts dentro de main */
    align-items: flex-start;
}

.main { flex: 3; }
.sidebar { flex: 1; }

.suggestion { margin-bottom: 10px; }

footer {
    background: #f0f0f0;
    padding: 15px;
    text-align: center;
}

.container { display: flex; gap: 20px; padding: 20px; }
.main { flex: 3; }

.sugerencias { 
    flex: 1; 
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #b2a49f
}

.sugerencias h2{
    font-size: 20px;
    font-weight: bold;
}

.post {
    background-color: #FFF8F5;
    box-shadow: 5px 5px 30px rgb(40, 40, 40);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;

    width: 100%;       /* ocupa todo lo que le permita el parent */
    max-width: 600px;  /* tamaño máximo */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.suggestion { margin-bottom: 10px; }

.post img,
.post video {
    width: 100%;
    max-width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.pieFoto{
    margin-top: 5px;
}

.fecha{
    font-size: 12px;
}