body {
    font-family: Arial, sans-serif;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #F6E3DC !important;
}

footer {
    background-color: rgb(34, 34, 34);
    color: rgb(226, 226, 226);
    padding: 20px;
    margin-left: 250px;
    width: calc(100% - 250px);
    flex-shrink: 0;
}

.main{
    display: flex;
    justify-content: center;
}

.reels-screen {
    min-height: calc(100vh - 70px); /* Resta altura del navbar*/
    margin-top: 50px;
}

.reel-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.reel-video-wrapper {
    width: 400px;
    height: 700px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

.reel-video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reel-controls {
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
}

.reel-controls button {
    background-color: #0095f6;
    color: white;
    border: none;
    font-size: 24px;
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
}

.reel-controls button:hover {
    background-color: #0073cc;
}

/*MEDIA QUERYS*/
@media (max-width: 900px) {
    .reel-container {
        flex-direction: column;
    }

    .reel-controls {
        flex-direction: row;
        margin-top: 15px;
        gap: 10px;
    }
}


@media (min-width: 2000px) {
    .reels-screen{
        zoom: 1.5;
    }
}

@media (min-width: 1601px) {
    .reels-screen{
        zoom: 1.2;
        margin-top: -10px;
    }
}

@media (max-width: 1600px) {
    .reels-screen{
        zoom: 1.3;
        margin-top: -10px;
    }
}

@media (max-width: 1100px) {
    .reels-screen{
        zoom: 1.1;
        margin-top: -10px;
    }
}

@media (max-width: 992px){
    footer{
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}

@media (max-width: 940px) {
    .reels-screen{
        zoom: 0.9;
    }
}

@media (max-width: 768px) {
    .reels-screen{
        margin-top: 80px;
        zoom: 0.9;
    }

    footer{
        margin-left: 0px;
        width: calc(100% - 0px);
    }
}

@media (max-width: 520px) {
    .reels-screen{
        margin-top: 80px;
        zoom: 0.75;
    }
}

@media (max-width: 400px) {
    .reels-screen{
        margin-top: 80px;
        zoom: 0.75;
    }
}