html,body{
    height: 100%;
    margin: 0;
}

body { 
    font-family: Arial; 
    display: flex;
    flex-direction: column;
}

main h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

main{
    flex: 1; /* Esto empuja el footer hacia abajo */
    flex-direction: column;
    background-color: rgb(21, 21, 21);
}

.volver{
    padding: 10px;
    color: #E94B3C;
}

.encabezado{
    display: flex;
    padding: 15px;
    background-color: rgb(21, 21, 21);
}

.encabezado h2{
    font-family: "Poppins", sans-serif;
    color: rgb(226, 226, 226);
}

.encabezado img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    object-fit: cover;
}

#chat-mensajes{
    flex: 1; /* Ocupa todo el espacio disponible */
    overflow-y: auto; /* Scroll si hay muchos mensajes */
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: auto;    /* permite scroll vertical */
    height: 68vh;
}

.formularioMensajes{
    display: flex;
    gap: 5px;
    margin: 10px;
}

.formularioMensajes input{
    flex: 1;
}

.mensaje { 
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    display: table;
    color: rgb(226, 226, 226);
    font-size: 20px;
}

.mensaje.tuyo { 
    margin-left: auto;         /* empuja el div a la derecha */
}

.escribirMensaje{
    border-radius: 10px;
    padding: 5px;
}

form button{
    border-radius: 30px;
    background-color: #E94B3C;
}

form button:hover{
    background-color: #b43a2f;
}

.fecha{
    font-style: italic;
    color: #c9c9c9;
    font-size: 13px;
}

.nombresParticipantes {
    display: block;
    color: white;
    font-size: 0.8em;
    word-wrap: break-word;
}

.mensaje.otro {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.infoUsuario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    width: 60px;
    text-align: center;
}

.fotoUsuario {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.nombreUsuario {
    font-size: 0.58em;
    margin-top: 2px;
    word-break: break-word;
}

.textoMensaje {
    background-color: #c13722;
    padding: 8px 12px;
    border-radius: 12px;
    word-wrap: break-word;   /* rompe palabras largas */
    word-break: break-word;  /* soporte adicional */
    white-space: normal;     /* permite saltos de línea */
}
.mensaje.tuyo .textoMensaje {
    background-color: #732115;
    margin-left: 30%;
}

.leidoEstado {
    display: inline-block;
    margin-left: 5px;
    font-size: 11px;
    color: #666;
}
.leidoEstado{
    color: rgb(74, 104, 74);
}
.noLeidoEstado{
    color: #949494;
}
